/* Reset some elements and allow theme.css to define look */
* { box-sizing: border-box; }
img { display: block; max-width: 100%; }
button:disabled { opacity: 0.6; cursor: not-allowed; }
a { color: inherit; text-decoration: none; }
body { margin: 0; }
